@use "sass:math";
.kg- {
  &magical-name {
    // レイアウト
    display: flex;

    // 要素
    font-size: 1.25rem;
  }
  &magical-name-kana {
    margin-left: -5px;
    font-size: 0.8rem;
  }
  &magicalgirl {
    align-self: flex-end;
    padding-right: 5px;
    font-size: 0.9rem;
  }
  &detail-area {
    padding: 10px 5px;
    white-space: pre-wrap;
    background-color: $mainColor;
    border: solid $fontColor 1px;
  }
  &profile {
    display: flex;
    align-items: flex-start;
    margin-top: 5px;
    position: relative;

    img {
      width: $iconWidth;
      height: $iconHeight;
    }
    // 画像
    div:nth-child(1) {
      border-top: solid $fontColor 1px;
      border-right: solid $fontColor 1px;
      border-bottom: solid $fontColor 1px;
      border-left: solid $fontColor 1px;
    }
    // 詳細
    div:nth-child(2) {
      width: calc(100% - 50px);
      min-height: 50px;
      border: solid $fontColor 1px;
      @extend .kg-detail-area;
    }
  }

  // 各項目の大枠レイアウト
  &section {
    position: relative;
    display: flex;
    padding: 5px;
    margin-top: 5px;
    border: solid 1px #fff;

    img {
      width: $iconWidth;
      height: $iconHeight;
    }

    &-title {
      padding: 5px;
      font-size: 1.15rem;
      font-weight: bold;
    }
  }

  // アトリビュート
  &attributes {
    padding-left: 5px;
  }
  &attribute {
    padding-top: 10px;
    background-color: $mainColor;
    border-top: dashed 1px #fff;
    border-bottom: dashed 1px #fff;

    div:nth-child(1) {
      width: fit-content;
      padding: 5px;
      font-size: 1.2rem;
    }
    div:nth-child(2) {
      padding: 5px;
      white-space: pre-wrap;
    }
  }

  // 逸脱
  &table {
    th {
      border-bottom: solid #fff 2px;
    }

    td {
      padding-top: 10px;
      padding-bottom: 15px;
      padding-left: 3px;
      border-bottom: dashed #fff 1px;
    }
  }

  // 心象庭園
  &garden {
    width: 230px;
    overflow: auto;
    &-layer {
      display: flex;
      &:nth-child(n + 2) {
        margin-top: -1px; // 線を重ねる
      }

      &-first {
        flex: 0 0 auto;
        width: $iconWidth;
        height: $iconHeight;
        font-size: 1rem;
        color: #aaa;
      }

      &-col {
        flex: 0 0 auto;
        width: $iconWidth;
        height: $iconHeight;
        margin-left: -1px; // 線を重ねる
        border: white solid 1px;
        @extend .flex-centering;

        img {
          width: math.div($iconWidth * 2, 5);
          height: math.div($iconHeight * 2, 5);
        }
      }
    }
  }

  // ガジェットイメージ
  &-gadge-image {
    padding-right: '5px';
    padding-left: '5px';
    margin-bottom: '10px';
    background-color: '#000';
  }
}
