@import '~sanitize.css';
@import './my-bulma.scss';
html,
body {
  padding: 0;
  margin: 0;
  font-family: $family-sans-serif;
  font-size: 62.5%; // 1rem = 10pxとする。
}

b,
strong {
  font-family: $family-sans-serif-bold;
}

* {
  box-sizing: border-box;
}
