$family-sans-serif-standard: -apple-system, blinkmacsystemfont, segoe ui, roboto,
  oxygen, ubuntu, cantarell, fira sans, droid sans, helvetica neue, yugothic,
  'Yu Gothic Medium', 'Yu Gothic', verdana, meiryo, sans-serif;

$family-sans-serif-bold: -apple-system, blinkmacsystemfont, roboto,
  'Segoe UI semibold', 'Helvetica Neue', helveticaneue, yugothic, 'Yu Gothic',
  'Segoe UI', verdana, meiryo, sans-serif;

// 高森カラー
$blanched-almond: #f8f2ca;
$bisque: #fce7c1;
$khaki-x11: #ebe08e;
$moss-green: #9da655;
$fern-green: #496c3d;
$metallic-brown: #b45019;
$cinnamon-satin: #c16385;
$cologne-earth-brown: #5c412e;
$celestial-blue: #3a94c6;
