.btn {
  color: #fff;
  background-color: #eb6100;
  border-bottom: 5px solid #b84c00;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}
.btn:hover {
  margin-top: 3px;
  color: #fff;
  background: #f56500;
  border-bottom: 2px solid #b84c00;
}
