.module {
  display: flex;
  justify-content: flex-end;
  min-width: 280px;
  padding-right: 20px;
}

.user {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.user .name {
  margin-right: 12px;
  font-size: 14px;
  color: #fff;
}

.user .signInOut {
  display: none;
}

.user:hover .signInOut {
  display: block;
}

.avatar {
  display: block;
  width: 60px;
  height: 60px;
  overflow: hidden;
  background: url(./user.png) #555;
  background-size: cover;
  border-radius: 40px;
}

.avatar img {
  width: 60px;
  height: 60px;
}

.signInOut {
  position: absolute;
  right: 0;
  bottom: -68px;
  box-sizing: border-box;
  width: 200px;
  padding: 14px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.signInOut::before {
  position: absolute;
  top: -4px;
  right: 25px;
  display: block;
  width: 8px;
  height: 8px;
  content: '';
  background-color: #fff;
  transform: rotate(45deg);
}

.signInOut button {
  width: 100%;
}

.description {
  padding: 16px;
  color: #fff;
  text-align: center;
}

.description button {
  padding: 1em 2em;
  color: #fff;
  background-color: #0366d6;
  border: none;
  border-radius: 5px;
}

.name {
  margin: 0;
  font-size: 21px;
}

.email {
  font-size: 12px;
}
