.kota {
  &Frame {
    padding: 2px 4px;
    font-family: Script, sans-serif;
    font-size: 16px;
    color: #eee;
    background-color: black;
    border: double 5px #ccc;
  }

  &Wrapper {
    box-sizing: border-box;
    display: inline-flex;
    justify-content: space-between;
    width: 200px;
    padding: 0 5px;
    overflow: hidden;
  }

  &WithText {
    vertical-align: bottom;
  }

  &WithTextWrapper {
    width: 250px;
    margin: 0 auto;
    font-size: 1.6rem;
    text-align: center;
  }

  &WithTextWrapperCenter {
    padding: 5px 0;
  }

  &AccessCounterWrapper {
    min-height: 100px;
    text-align: center;
  }
}
