.frame {
  font-size: 16px;
  font-family: Script;
  border: double 5px #CCC;
  padding: 2px 4px;
  background-color: black;
  color: #eee;
}

.wrapper {
  width: 200px;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 0 5px;
}

.withText {

  vertical-align: bottom;
}

.withTextWrapper {
  font-size: 1.6rem;
  width: 250px;
  margin: 0 auto;
  text-align: center;
}

.withTextWrapperCenter {
  padding: 5px 0;
}

.accessCounterWrapper {
  min-height: 100px;
}
